---
apiVersion: v1
kind: ConfigMap
metadata:
  name: daemon-config
  namespace: kubesphere-devops-system
data:
  daemon.json: |
    {
      "insecure-registries" : ["{{ edgestack_harbor }}"]
    }
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: dind-daemon
  labels:
    app: dind
  namespace: kubesphere-devops-system
spec:
  selector:
    matchLabels:
      app: dind
  template:
    metadata:
      labels:
        app: dind
    spec:
      hostNetwork: true
      containers:
      - name: dind
        image: {{ dind_registry }}:{{ dind_tag }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 2375
        volumeMounts:
        - name: daemon-config
          mountPath: /etc/docker/daemon.json
          subPath: daemon.json
        securityContext:
          privileged: true
        env:
        - name: DOCKER_TLS_CERTDIR
          value: ""
      volumes:
      - name: daemon-config
        configMap:
          name: daemon-config
